{
	"een": {
		"download_url": "https://mediazone.vrt.be/api/v1/een/assets/{dl_id}",
		"overview_url": "https://www.een.be/deze-week"
	},
	"vier": {
		"download_url": "http://vod.streamcloud.be/vier_vod_geo/mp4:_definst_/{dl_id}.mp4/playlist.m3u8",
		"overview_url": "http://www.vier.be/volledige-afleveringen",
		"login": {
			"url": "http://www.vier.be/user",
			"username": "email@example.com",
			"password": "passwordForSite"
		}
	},
	"vijf": {
		"download_url": "http://vod.streamcloud.be/vijf_vod_geo/mp4:_definst_/{dl_id}.mp4/playlist.m3u8",
		"overview_url": "http://www.vijf.be/volledige-afleveringen",
		"login": {
			"url": "http://www.vijf.be/user",
			"username": "email@example.com",
			"password": "passwordForSite"
		}
	},
	"vrt": {
    "download_url": "https://mediazone.vrt.be/api/v1/vrtvideo/assets/{dl_id}",
    "overview_url": "https://www.vrt.be/vrtnu/",
    "login": {
      "url": "https://accounts.eu1.gigya.com/accounts.login",
      "username": "email@example.com",
      "password": "passwordForSite",
      "apikey": "3_qhEcPa5JGFROVwu5SWKqJ4mVOIkwlFNMSKwzPDAh8QZOtHqu6L4nD5Q7lk0eXOOG"
    }
  },
  "stievie": {
    "download_url": "https://watch.stievie.be/",
    "overview_url": "https://watch.stievie.be/",
    "api_endpoint": "http://vod.medialaan.io/vod/v2/",
    "login": {
      "url": "https://accounts.eu1.gigya.com/accounts.login",
      "username": "email@example.com",
      "password": "passwordForSite",
      "apikey": "3_OEz9nzakKMkhPdUnz41EqSRfhJg5z9JXvS4wUORkqNf2M2c1wS81ilBgCewkot97"
    }
  },
  "vtm": {
    "download_url": "http://vod.medialaan.io/api/1.0/item/{dl_id}/video?UID={UID}&UIDSignature={UIDSig}&signatureTimestamp={timestamp}&app_id=vtm_watch&user_network=vtm-sso",
    "overview_url": "http://vtm.be",
    "api_endpoint": "http://vod.medialaan.io/vod/v2/",
    "login": {
      "url": "https://accounts.eu1.gigya.com/accounts.login",
      "username": "email@example.com",
      "password": "passwordForSite",
      "apikey": "3_OEz9nzakKMkhPdUnz41EqSRfhJg5z9JXvS4wUORkqNf2M2c1wS81ilBgCewkot97"
    }
  }
}
